.button {
    @include reset-button;
    @include reset-link;

    height: 51px;

    font-family: $font-demi;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: $default-color;

    transition: 0.5s;

    &:hover,
    &:focus {
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    }

    &--transparent {
        position: relative;

        box-sizing: border-box;
        margin-top: 26px;

        background-color: transparent;
        border: 1px solid #ffffff;

        &::after {
            content: "";

            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 0;

            background-color: $default-color;

            z-index: -1;
            transition: 0.5s;
        }

        &:hover::after,
        &:focus::after {
            width: 100%;
        }
    }
}