.button {
    @include reset-button;
    @include reset-link;

    height: 51px;

    font-family: $font-demi;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: $default-color;
}

// @media (min-width: 480px) {
//     html, body {
//         min-width: 480px;
//         font-size: 15px;
//     }

//     .wrapper {
//         margin: 0 12%;
//     }
// }