.design-project {
    width: 100%;
    color: #ffffff;
    background-color: $neutral-color;
}

.design-project__wrapper {
    padding: 0 0 20px;
}

.design-project__title {
    padding-bottom: 50px;
    &::after {
        content: url(../img/design-project-title-img.png);
    }
}

@media (min-width: 1024px) {
    .design-project__p {
        margin: 0 auto;
        width: 55%;
        text-align: center;
        color: #ffffff;
    }
}

@media (min-width: 1440px) {
    .design-project {
        color: #000000;
        background-image: linear-gradient(to bottom, #ffffff 60%, $neutral-color 60%);
    }

    .design-project__wrapper {
        padding: 180px 0 20px;
    }

    .design-project__p {
        color: #363636;
    }
}