.header {
    position: relative;
    width: 100%;

    color: #ffffff;
    background: #252525 url(../img/header-bg.png) center no-repeat;
    background-size: cover;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 14;
}

.header__wrapper {
    padding: 85px 0 60px;
}

.header__instagram {
    display: none;
}

.header__h1 {
    margin: 0;

    font-family: "YesevaOne", serif;
    font-size: 1.65rem;
    text-transform: uppercase;

    &--color {
        color: $default-color;
    }
}

.header__text {
    margin: 16px 0 32px;

    font-size: 1.3rem;
    letter-spacing: 0.08rem;
    line-height: 1.8rem;
}

.header__btn-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.header__btn {
    width: 100%;

    &--hidden {
        display: none;
    }
}

.header__btn-down {
    display: none;
}

@media (min-width: 480px) {
    .header__btn--hidden {
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .header__btn-wrapper {
        display: flex;
        flex-direction: row;
    }

    .header__btn {
        margin-right: 20px;
        width: 207px;

        &:nth-child(2) {
            margin: 0;
        }
    }
}

@media (min-width: 1024px) {
    .header {
        height: calc(100vh - 131px);

        display: flex;
        align-items: center;
        
        background: $neutral-color url(../img/header-bg-desktop.png) center no-repeat;
        background-size: cover;
        box-shadow: none;
    }

    .header__wrapper {
        padding: 0;
    }

    .header__text-wrapper {
        padding-left: 65px;
        width: 520px;
    }

    .header__h1 {
        font-size: 2rem;
    }

    .header__text {
        font-size: 1.1rem;
    }

    .header__btn-down {
        @include reset-button;
        display: block;

        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        left: 0;

        box-sizing: border-box;
        padding-right: 40px;
        width: 247px;
        height: 97px;

        font-family: "YesevaOne";
        font-size: 14px;
        line-height: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;

        background: $neutral-color url(../img/header-btn-down.png) 80% center no-repeat;
        background-color: $neutral-color;

        transition: 0.5s;
        z-index: 3;

        &:focus,
        &:hover {
            color: $default-color;
            text-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
        }
    }
}

@media (min-width: 1440px) {
    .header__instagram {
        @include reset-link;
        position: absolute;
        top: -3px;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 174px);
        width: 83px;

        font-family: $font-demi;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: $default-color;

        background-color: $neutral-color;

        z-index: 2;

        span {
            position: relative;

            padding-right: 60px;

            display: block;
            transform: rotate(90deg);

            &::after {
                content: "";

                position: absolute;
                right: 0;
                bottom: 50%;

                width: 51px;
                height: 2px;

                background-color: $default-color;
            }
        }
    }
}

@media (min-width: 1920px) {
    .header__wrapper {
        position: relative;
        height: 100%;

        display: flex;
        align-items: center;
    }

    .header__text-wrapper {
        padding-left: 200px;
    }

    .header__instagram {
        top: 80%;
        left: 420px;
        transform: translate(-50%, -50%);
        width: 230px;
        height: 54px;

        span {
            transform: none;
        }
    }
}