.main-nav {
    display: none;
}

@media (min-width: 1024px) {
    .main-nav {
        display: block;
        height: 100%;
    }

    .main-nav__wrapper {
        height: 100%;
    }

    .main-nav__list {
        @include reset-list;

        height: 100%;

        display: flex;
        justify-content: space-between;
    }

    .main-nav__item a {
        @include reset-link;

        display: flex;
        align-items: center;
        padding: 0 15px;
        height: 100%;

        font-family: $font;
        font-weight: 400;
        color: #ffffff;

        outline: none;
        transition: 0.5s;

        &:hover {
            color: $default-color;
        }
    }

    .main-nav__item--active a {
        color: $default-color;
    }
}

@media (min-width: 1440px) {
    .main-nav__item a {
        padding: 0 23px;
    }
}