.navigation {
    font-size: 14px;
    line-height: 16px;
}

.navigation__logo {
    @include reset-link;
    color: $default-color;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navigation__a-tel {
    @include reset-link;
    color: #ffffff;
}

.navigation__btn-tel {
    display: none;
}

@media (min-width: 1024px) {
    .navigation__a-tel {
        border-bottom: 1px solid $default-color;
        color: $default-color;
    }
}

@media (min-width: 1440px) {
    .navigation__tel {
        display: flex;
        align-items: center;
    }

    .navigation__a-tel {
        margin-right: 45px;
    }

    .navigation__btn-tel {
        display: block;
        width: 161px;
        height: 37px;
    }
}