.projects {
    width: 100%;

    color: #ffffff;
    background-color: $neutral-color;
}

.projects__tabs {
    display: none;
}

.projects__title {
    padding-top: 35px;
    color: $default-color;
}

.projects__list {
    @include reset-list;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.projects__item {
    display: none;
    position: relative;
    animation: 0.5s ease-in-out;
    margin: 0 auto;
}

.active,
.next {
    display: block;
}

.next {
    position: absolute;
    top: 0;
    width: 100%;
}

.to-left {
    animation-name: left;
}

.from-right {
    animation-name: right;
}

.to-right {
    animation-name: right;
    animation-direction: reverse;
}

.from-left {
    animation-name: left;
    animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.projects__text {
    margin: 25px 0;

    font-size: 1rem;
    line-height: 1.6rem;
    letter-spacing: 0.05rem;

    text-align: center;
}

.projects__image {
    width: 100%;
}

.projects__description-list {
    @include reset-list;

    margin-top: 35px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-auto-flow: column;
}

.projects__description-title {
    margin: 0;

    font-family: 'YesevaOne', serif;
    font-size: 1rem;
    line-height: 1.4rem;
    text-transform: uppercase;
    color: $default-color;
}

.projects__description-text {
    margin: 10px 0 25px 0;

    font-size: 1rem;
    line-height: 1.4rem;
}

.projects__prev {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.projects__next {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

.projects__toggles {
    display: none;
}

@media (min-width: 1024px) {
    .projects__wrapper {
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .projects__title {
        width: 100%;
    }

    .projects__text {
        padding: 25px 25%;
        width: 100%;
    }

    .projects__list-wrapper {
        width: 50%;
        margin-right: 50px;
    }

    .projects__description-list {
        width: calc(50% - 50px);
    }
}

@media (min-width: 1440px) {
    .projects {
        background-color: $neutral-color;
    }
    
    .projects__wrapper {
        position: relative;
        padding: 170px 0 90px;
        display: block;
    }

    .projects__tabs {
        position: absolute;
        top: 100px;
        left: 40%;

        display: block;
    }

    .projects__tab {
        @include reset-button;

        padding: 0 0 3px 0;
        margin-right: 60px;

        font-family: $font-serif;
        font-size: 0.7rem;
        font-weight: 700;
        text-transform: uppercase;

        color: rgba(255, 255, 255, 0.3);

        &--current {
            color: $default-color;
            border-bottom: 1px solid $default-color;
        }
    }

    .projects__title {
        position: absolute;
        left: 0;
        top: 170px;

        padding: 0;
        width: 420px;

        font-size: 1.35rem;
        line-height: 1.8rem;
        text-align: left;

        &::after {
            content: "";

            position: absolute;
            right: 0;
            bottom: 16px;

            width: 92px;
            height: 2px;

            background-color: $default-color;
        }
    }

    .projects__list-wrapper {
        width: 100%;
        margin-right: 0;
        overflow: visible;
    }

    .projects__list {
        position: relative;
        margin-left: 40%;
        width: 300%;

        display: flex;
    }

    .projects__item {
        display: flex;
        box-sizing: border-box;
        margin: 0;
        padding: 0 20px 0 0;
        width: 20%;
    }

    @keyframes left {
        from {
            left: 0;
        }
        to {
            left: -20%;
        }
    }
    
    @keyframes right {
        from {
            left: 20%;
        }
        to {
            left: 0;
        }
    }

    .projects__image {
        margin-right: 20px;
    }

    .projects__text {
        position: absolute;
        left: 0;
        top: 245px;

        padding: 25px 0;
        width: 35%;

        font-size: 0.9rem;
        text-align: left;
    }

    .projects__description-list {
        position: absolute;
        left: 0;
        top: 410px;

        width: 35%;
    }

    .projects__description-title {
        font-size: 0.9rem;
    }

    .projects__description-text {
        margin: 10px 0 35px 0;
    
        font-size: 0.8rem;
    }

    .projects__prev {
        top: 50%;
        left: calc(40% + 45px);

        display: none;
    }

    .projects__next {
        top: 50%;
        right: -65px;
    }

    .projects__toggles {
        position: absolute;
        left: 0;
        bottom: 90px;

        display: flex;
    }
}