.questions {
    width: 100%;
    color: #ffffff;
    background-color: $neutral-color;
}

.questions__wrapper {
    padding: 0 0 45px;
}

.questions__title {
    margin-bottom: 40px;
}

.questions__input {
    margin-bottom: 60px;
}

.questions__checkbox {
    margin: 21px 0 40px;
}

.questions__submit {
    width: 100%;
}

@media (min-width: 768px) {
    .questions__form {
        margin: 0 auto;
        width: 65%;
    }
}

@media (min-width: 1440px) {
    .questions {
        margin-top: -3px;
        position: relative;
        min-height: 280px;
        background-color: #ffffff;
        background: #ffffff url(../img/questions-bg.png) bottom left repeat-x;
    }

    .questions__wrapper {
        position: absolute;
        left: 50%;
        top: 20px;
        transform: translateX(-50%);

        width: 60%;
        max-width: 1200px;
        margin: 0;
        padding: 35px 180px;

        background-color: $neutral-color;

        z-index: 2;
    }

    .questions__form {
        margin: 0;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .questions__input-wrapper {

        &:nth-child(1) {
            width: 45%;
        }

        &:nth-child(2) {
            width: 45%;
        }

        &:nth-child(3) {
            width: 100%;
        }

        &:nth-child(4) {
            margin: 40px auto 10px;
            width: 100%;
            text-align: center;
        }
    }

    .questions__checkbox {
        display: inline-block;
    }

    .questions__submit {
        margin: 0 auto;
        width: 200px;
    }
}