.slider__list-wrapper {
    position: relative;
    width: 100%;

    overflow-x: hidden;
}

.slider__prev {
    @include reset-button;

    position: absolute;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: $default-color;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%) rotate(45deg);

        width: 8px;
        height: 8px;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }
}

.slider__next {
    @include reset-button;

    position: absolute;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: $default-color;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%) rotate(-135deg);

        width: 8px;
        height: 8px;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }
}

// @media (min-width: 480px) {
//     html, body {
//         min-width: 480px;
//         font-size: 15px;
//     }

//     .wrapper {
//         margin: 0 12%;
//     }
// }