@keyframes moveArrowLeft {
    40% { 
        left: 30%;
    }
    100% { 
        left: 50%;
    }
}

@keyframes moveArrowRight {
    40% { 
        left: 70%;
    }
    100% { 
        left: 50%;
    }
}

.slider__list-wrapper {
    position: relative;
    width: 100%;

    // overflow-x: hidden;
}

.slider__prev {
    @include reset-button;

    position: absolute;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: $default-color;

    transition: 0.5s;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-30%, -50%) rotate(45deg);

        width: 8px;
        height: 8px;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

        &::before {
            animation: moveArrowLeft 0.5s;
        }
    }
}

.slider__next {
    @include reset-button;

    position: absolute;

    width: 36px;
    height: 36px;

    border-radius: 50%;
    background-color: $default-color;

    transition: 0.5s;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-60%, -50%) rotate(-135deg);

        width: 8px;
        height: 8px;
        border-bottom: 2px solid #ffffff;
        border-left: 2px solid #ffffff;
    }

    &:hover,
    &:focus {
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);

        &::before {
            animation: moveArrowRight 0.5s;
        }
    }
}

.slider__toggles {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__toggle-prev {
    @include reset-button;

    box-sizing: content-box;
    padding: 0;
    margin-right: 20px;
    width: 42px;
    height: 14px;

    outline: none;
    background: url(../img/slider-toggle-prev.png) center no-repeat;

    @keyframes moveLeft {
        40% { 
            margin-left: -20px;
            margin-right: 40px;
        }
        100% { 
            margin-left: 0px;
            margin-right: 20px;
        }
    }

    &:hover,
    &:focus {
        animation: moveLeft 0.3s;
    }
}

.slider__toggle {
    @include reset-button;

    margin: 0 9px;
    width: 10px;
    height: 10px;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    outline: none;

    transition: 0.3s;

    &--current {
        background: rgba(255, 255, 255, 1);
    }

    &:hover,
    &:focus {
        background: $default-color;
        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    }
}

.slider__toggle-next {
    @include reset-button;

    box-sizing: content-box;
    padding: 0;
    margin-left: 20px;
    width: 42px;
    height: 14px;

    outline: none;
    background: url(../img/slider-toggle-next.png) center no-repeat;
    
    @keyframes moveRight {
        40% { 
            margin-left: 40px;
        }
        100% { 
            margin-left: 20px;
        }
    }

    &:hover,
    &:focus {
        animation: moveRight 0.3s;
    }
}

@media (min-width: 1440px) {
    .slider__prev {
        width: 55px;
        height: 55px;

        &::before {
            width: 9px;
            height: 9px;
            border-bottom: 3px solid #ffffff;
            border-left: 3px solid #ffffff;
        }
    }

    .slider__next {
        width: 55px;
        height: 55px;

        &::before {
            width: 9px;
            height: 9px;
            border-bottom: 3px solid #ffffff;
            border-left: 3px solid #ffffff;
        }
    }
}