.styles {
    margin-top: -2px;
    width: 100%;
    background-image: linear-gradient(to bottom, #ffffff 55%, $neutral-color 55%);
}

.styles__wrapper {
    padding: 0 0 50px;
}

.styles__title {
    margin-bottom: 25px;
    color: $default-color;
}

.styles__list {
    display: none;
}

.slider__list-wrapper {
    overflow: hidden;
}

.styles__img-list {
    width: 400%;
    display: flex;
}

.styles__img-item {
    width: 25%;
}

.styles__img {
    width: 100%;
}

.styles__prev {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

.styles__next {
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}

@media (min-width: 1024px) {
    .styles__img-list {
        width: 200%;
        display: flex;
    }
    
    .styles__img-item {
        width: 50%;
        height: 340px;

        display: flex;
        align-items: center;
        
        overflow: hidden;

        picture {
            width: 100%;
        }
    }

    .styles__img {
        margin: 0 auto;
        display: block;
        width: 90%;
    }
}

@media (min-width: 1440px) {
    .styles {
        margin-top: 0;
        background: #ffffff url(../img/styles-bg.png) center no-repeat;
        background-size: cover;
    }

    .styles__wrapper {
        position: relative;
        margin: 0 auto;
        padding: 137px 0 70px;
        max-width: 1250px;
    }

    .styles__title {
        margin: 0 0 47px 0;
        width: 30%;

        font-family: $font-serif;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-align: left;
        color: $default-color;
    }

    .styles__list {
        @include reset-list;
        display: block;
        width: 30%;
    }

    .styles__item {
        margin: 0 0 25px 0;

        span {
            padding-bottom: 3px;

            color: #ffffff;

            transition: 0.5s;
            cursor: pointer;

            &:focus,
            &:hover {
                color: $default-color;
                border-bottom: 1px solid $default-color;
                outline: none;
            }
        }

        &--current span {
            color: $default-color;
            border-bottom: 1px solid $default-color;
        }
    }

    .styles__img-list-wrapper {
        position: absolute;
        top: -140px;
        right: 0;

        width: 65%;
    }

    .styles__img-list {
        width: 100%;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(115, 10px);
        grid-column-gap: 30px;
    }
    
    .styles__img-item {
        width: 100%;
        height: auto;

        display: block;
        overflow: visible;

        &--1 {
            grid-column: 1 / 2;
            grid-row: 10;
        }

        &--2 {
            grid-column: 2 / -1;
            grid-row: 0;
        }

        &--3 {
            grid-column: 1 / 2;
            grid-row: 74;
        }

        &--4 {
            grid-column: 2 / -1;
            grid-row: 34;
        }
    }

    .styles__img {
        margin: 0;
        width: 100%;
    }

    .styles__img {
        width: 100%;
    }

    .styles__prev,
    .styles__next {
        display: none;
    }
}