.team {
    width: 100%;
    color: #ffffff;
    background-color: $neutral-color;
}

.team__title {
    padding-bottom: 50px;
    &::after {
        content: url(../img/team-title-img.png);
    }
}

.team__description {
    font-size: 1.1rem;
    line-height: 1.4rem;
    text-align: center;
}

.team__list {
    @include reset-list;

    padding-bottom: 1px;
    margin-top: 40px;
}

.team__item {
    position: relative;
    margin: 0 auto;
    margin-bottom: calc(15% + 60px);
    padding-top: 35px;
    max-width: 340px;
    text-align: right;
}

.team__photo {
    max-width: 304px;
}

.team__icon {
    position: absolute;
    top: 0;
    left: 0;

    width: 70px;
    height: 70px;
    background: $default-color url(../img/team-icon1.png) center no-repeat;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
}

.team__info {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: 35px;

    width: 234px;

    text-align: center;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
}

.team__name {
    margin: 0;
    padding: 22px 0 10px;

    font-family: 'YesevaOne';
    font-weight: 700;
    font-size: 1.3rem;

    color: #181818;
}

.team__position {
    margin: 0;
    padding-bottom: 24px;

    font-size: 1.3rem;

    color: #959595;
}

.team__experience {
    margin: 0;
    padding: 14px 0;

    font-family: 'YesevaOne';
    font-weight: 700;
    font-size: 0.9rem;
    text-transform: uppercase;

    color: #ffffff;
    background-color: $default-color;
}

.team__p {
    display: none;
}

@media (min-width: 768px) {
    .team {
        padding-bottom: 40px;
    }

    .team__wrapper {
        width: 650px;
    }

    .team__description {
        margin: 16px auto;
        width: 475px;
    }

    .team__list {
        margin-top: 40px;

        display: flex;
        flex-wrap: wrap;
    }
    
    .team__item {
        margin-bottom: 120px;
    }

    .team__info {
        right: 19px;
    }

    .team__p {
        margin: 0 auto;
        width: 475px;
        display: block;
        text-align: center;
    }
}

@media (min-width: 1440px) {
    .team {
        background-image: linear-gradient(to top, #ffffff 50%, $neutral-color 50%);
    }

    .team__wrapper {
        padding: 80px 0 40px;
    }

    .team__list {
        margin: 0 auto;
        max-width: 1600px;
    }

    .team__icon {
        transform: translateX(-50%);
    }

    .team__name {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .team__position {
        font-size: 0.9rem;
        line-height: 1.2rem;
    }

    .team__experience {
        font-size: 0.65rem;
        line-height: 1.2rem;
    }

    .team__p {
        line-height: 1.8rem;
        color: #363636;
    }
}