// Font
$font: "FuturaBookC", Arial, sans-serif;
$font-demi: "FuturaDemiC", Arial, sans-serif;
$font-serif: "YesevaOne", serif;

// Colors
$default-color: #E3B873;
$neutral-color: #131313;
$footer-color: #959595;
$text-color: #444444;
$border-color: #ececec;
$hover-color: rgba(0, 0, 0, 0.5);
$active-color: rgba(0, 0, 0, 0.3);
